[Desktop Entry]
Name=Ojuba Project Documentation
Name[ar]=مشروع التوثيق من أعجوبة
GenericName=Ojuba Documentation
GenericName[ar]=وثائق أعجوبة
Comment=Ojuba Project Documentation
Comment[ar]=مشروع التوثيق من أعجوبة
Exec=xdg-open /usr/share/doc/HTML/ojuba-docs/index.html
Icon=help-about
Terminal=false
Type=Application
Categories=System;Documentation;
